@import '../../base/base-style.scss';

@import '../../components/button';
@import '../../components/header';

@import '../../sass/mixins';
@import '../../sass/typography';
@import '../../sass/variables';

.team-member{
    padding: 0 15rem;

    @include response (tab-port){
        padding: 0 10rem;
    }
    @include response(phone){
        padding: 0 5rem;
    }

    &__btn-container{
        padding: 4rem 0;
    }

    &__info{
        display: grid;
        grid-template-columns: repeat(2, [col-start] 1fr [col-end]);
        grid-gap: 12rem;

        @include response(phone){
            grid-template-columns: [col-start] 1fr [col-end];
            grid-template-rows: repeat(2, [row-start] min-content [row-end]);
        }

        &--image-container{
            grid-column: col-start 1 / col-end 1;

            width: 44.9rem;
            height: 57.2rem;
            justify-self: center;
            

            @include response(phone){
                grid-column: col-start / col-end;
                grid-row: row-start 1 / row-end 1;

                width: auto;
                height: auto;
            }

            .image{
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        &--text-container{
            grid-column: col-start 2 / col-end 2;

            position: relative;

            @include response(phone){
                grid-column: col-start / col-end;
                grid-row: row-start 2 / row-end 2;
            }

            .name{
                font-weight: 600;
                font-size: 3.6rem;
                line-height: 4.3rem;

                position: relative;
                z-index: 1;
            }
            .layout{
                height: 11.9rem;
                width: 11.5rem;

                position: absolute;
                top: -3rem;
                left: -3rem;
            }
            .details-container{
                font-size: 1.6rem;

                .text:not(:last-child){
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
