@import '../sass/variables';
@import '../base/base-style.scss';

.btn{
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    cursor: pointer;
}

.btn-primary{
    color: $primary;
    background-color: $white;
    border: 2px solid $primary;
    transition: all .2s;
    
    &:hover{
        background-color: $primary;
        color: $text-light;
    }
}

.btn-secondary{
    color: black;
    background-color: transparent;
    border: 2px solid black;
    text-transform: uppercase;
    transition: all .2s;

    &:hover{
        color: $primary;
        border: 2px solid $primary;
    }
}

.btn-secondary-sm{
    color: black;
    background-color: transparent;
    font-size: 1.3rem !important;
    font-weight: 600;
    padding: .8rem 2rem !important;
    border-radius: .7rem !important;
    border: 2px solid black;
    text-transform: uppercase;
    transition: all .2s;

    &:hover{
        color: $primary;
        border: 2px solid $primary;
    }
}

.btn-white{
    color: $white;
    background-color: transparent;
    border: 2px solid $white;
    transition: all .2s;

    &:hover{
        color: black;
        background-color: $white;
    }
}
