@import "../base/base-style.scss";

.footer-container{
    height: 400px;
    background-image: url("../../../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-image: cover;
    padding: 10% 5% 5% 5%;
    @media screen and (min-width:1441px) {
        height: 500px;
        background-image: url("../../../assets/footer-bg-hd.png");
    }
    @media screen and (max-width: 600px) {
        height: 600px;
        background-image: none;
        background-color: $secondary;
    }
    .footer-body{
        height: 100%;
        display: grid;
        gap: 2.5% 5%;
        grid-template-columns: 1fr 1fr 1fr;
        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
            gap: 5% 2.5%;
        }
        .grid-common{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @media screen and (max-width: 600px) {
                height: 15vh;
                text-align: center;
            }
            h5{
                color: $text-light;
                font-size: calc(10px + 1vw);
                font-weight: 600;
                @media screen and (max-width: 600px) {
                    font-size: 16px;
                }
            }
            .link-left{
                margin-left: 5%;
            }
        }
        .footer-body-left{
            p{
                color: $text-light;
                font-size: calc(8px + 0.5vw);
                padding: 1% 0;
                width: 90%;
                @media screen and (max-width: 600px) {
                    font-size: 14px;
                    width: 100%;
                }
            }
            a{
                text-decoration: none;
                color: $text-light;
                font-size: calc(8px + 0.5vw);
                margin-top: 5%;
                font-weight: 500;
                @media screen and (max-width: 600px) {
                    font-size: 14px;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .footer-body-center{
            a{
                text-decoration: none;
                img{
                    height: calc(40px + 1.5vw);
                }
            }
        }
        .footer-body-right{
            .media-icons{
                font-size: calc(8px + 0.8vw);
                a{
                    text-decoration: none;
                    display: inline-flex;
                    width: 40px;
                    height: 40px;
                    background-color: $text-light;
                    color: $secondary;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin-right: 0.5%;
                    @media screen and (max-width: 600px) {
                        width: 25px;
                        height: 25px;
                        font-size: 14px;
                        margin-right: 1%;
                    }
                }
            }
            button{
                padding: 2.5%;
                font-size: 14px;
                text-transform: uppercase;
                outline: none;
                border: 2px solid $text-light;
                border-radius: 10px;
                background-color: $text-light;
                color: $secondary;
                font-weight: 600;
                transition: 0.3s;
                cursor: pointer;
                &:hover{
                    color: $text-light;
                    background-color: inherit;
                }
            }
        }
    }
}