@import '../../base/base-style.scss';

@import '../../components/button';
@import '../../components/header';

@import '../../sass/variables';
@import '../../sass/typography';
@import '../../sass/mixins';

.social-business{

    &__header{
        background-image: url(/assets/images/gcl-header/banner-socail-business.png);
        background-size: cover;
        background-repeat: no-repeat;
        
        height: 60vw;
        padding: 0 20%;

        @include response(phone){
            padding: 0 5%;
        }
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        &--content{
            color: $text-light;
            text-align: center;
    
            .heading{
                font-size: 3.5rem;
                font-weight: 600;
                line-height: 4.3rem;

                // @include response(phone){
                //     font-size: 2rem;
                //     line-height: 3.3rem;
                // }
            }

            .name{
                color: $text-light;
                font-size: 2rem;
                font-weight: 600;
                line-height: 2.4rem;

                // @include response(phone){
                //     font-size: 1rem;
                //     line-height: 1.4rem;
                // }
            }
        }
    }

    &__social{

        &--heading{
            font-weight: 600;
            font-size: 4.8rem;
            margin-bottom: 3rem;
            text-align: center;
        }

        &--btn-group{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            .group-1{
                display: flex;
                gap: 1rem;
            }
            .group-2{
                display: flex;
                gap: 1rem;
            }
        }

        &--info{
            display: grid;
            grid-template-columns: repeat(2, [col-start] 50% [col-end]);
            grid-template-rows: repeat(3, [row-start] min-content [row-end]);

            @include response(phone){
                grid-template-columns: [col-start] 1fr [col-end];
                grid-template-rows: repeat(6, [row-start] min-content [row-end]);
            }

            .info-1{
                grid-column: col-start 1 / col-end 1;
                grid-row: row-start 1 / row-end 1;
                
                .heading{
                    font-size: 3.6rem;
                    font-weight: 600;
                    line-height: 4.3rem;
                }

                @include response(phone){
                    grid-column: col-start / col-end;
                    grid-row: row-start 1 / row-end 1;
                }
            }
            .image-1{
                grid-column: col-start 2 / col-end 2;
                grid-row: row-start 1 / row-end 1; 
                
                @include response(phone){
                    grid-column: col-start / col-end;
                    grid-row: row-start 2 / row-end 2;
                }
            }
            .info-2{
                grid-column: col-start 2 / col-end 2;
                grid-row: row-start 2 / row-end 2;
                
                .heading{
                    font-size: 3.6rem;
                    font-weight: 600;
                    line-height: 4.3rem;
                }

                @include response(phone){
                    grid-column: col-start / col-end;
                    grid-row: row-start 3 / row-end 3;
                }
            }
            .image-2{
                grid-column: col-start 1 / col-end 1;
                grid-row: row-start 2 / row-end 2;
                
                @include response(phone){
                    grid-column: col-start / col-end;
                    grid-row: row-start 4 / row-end 4;
                }
            }
            .info-3{
                grid-column: col-start 1 / col-end 1;
                grid-row: row-start 3 / row-end 3;
                
                .heading{
                    font-size: 3.6rem;
                    font-weight: 600;
                    line-height: 4.3rem;
                }

                @include response(phone){
                    grid-column: col-start / col-end;
                    grid-row: row-start 5 / row-end 5;
                }
            }
            .image-3{
                grid-column: col-start 2 / col-end 2;
                grid-row: row-start 3 / row-end 3;

                @include response(phone){
                    grid-column: col-start / col-end;
                    grid-row: row-start 6 / row-end 6;
                }
            }


            .img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .content{
                font-size: 1.8rem;

                p:not(:last-child){
                    margin-bottom: 1rem;
                }
            }
            .img-container{
                overflow: hidden;
            }
            .text-container{
                padding: 8rem;
                background-color: $background-grey;

                @include response(phone){
                    padding: 4rem;
                }
            }
        }
    }

    &__video{
        height: 70rem;
    }

    &__goal{
        padding: 10rem;

        @include response(phone){
            padding: 5rem;
        }

        .container{

            display: grid;
            grid-template-columns: repeat(2, [col-start] 1fr [col-end]);

            @include response(phone){
                grid-template-columns: [col-start] 1fr [col-end];
                grid-template-rows: repeat(2, [row-start] min-content [row-end]);
            }
        }
        &--content{
            grid-column: col-start 1 / col-end 1;

            @include response(phone){
                grid-column: col-start / col-end;
                grid-row: row-start 1 / row-end 1;
            }

            .list{
                margin-left: 1.7rem;
                .item{
                    font-size: 1.6rem;
                    // line-height: 1.6;
                }
            }
        }
        &--image{
            grid-column: col-start 2 / col-end 2;

            @include response(phone){
                grid-column: col-start / col-end;
                grid-row: row-start 2 / row-end 2;
            }

            .img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &--btn-container{
            display: flex;
            justify-content: center;
        }
    }
}