@import "variables";

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-weight: 700;
}

h1{
    font-size: calc(24px + 2vmin);
}
h2{
    font-size: calc(20px + 2vmin);
}
h3{
    font-size: calc(18px + 2vmin);
}
h4{
    font-size: calc(16px + 1vmin); 
}
h5{
    font-size: calc(14px + 1vmin);  
}
h6{
    font-size: calc(10px + 1vmin);  
}

p{
    // font-size: calc(10px + 1vmin); 
    font-size: 1.1vw;
    color: $text-dark;
}

a{
    font-size: calc(8px + 1vmin);
    text-decoration: none;
}