
@import "../sass/mixins";
@import "../sass/typography";
@import "../sass/variables";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}


