
@import "../sass/mixins";
@import "../sass/typography";
@import "../sass/variables";

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; // 1 rem = 10px
}

body{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}


