@import "../sass/mixins";
@import "../sass/typography";
@import "../sass/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; // 1 rem = 10px
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
}

