@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import '../sass/mixins';
@import "../sass/typography";
@import "../sass/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

html{
    font-size: 62.5%; // 1 rem = 10px
    font-family: 'Montserrat', sans-serif;
    @include response(phone){
        font-size: 50%;
    }
    @include response(tab-port){
        font-size: 50%;
    }
}

body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    max-width: 1920px;
    margin: 0 auto;
}

a, button{
    font-family: 'Montserrat', sans-serif;
}