@import "../../global.scss";

.resources-slider{
    padding: 5% 10%; 
    .resources-slider-header{
        text-align: center;
        padding: 2.5% 0;
        h4{
            font-weight: 500;
            font-size: calc(10px + 1.5vw);
            @media screen and (max-width: 600px) {
                font-size: 20px;
            }
        }
    }
    .resources-slider-body{
        margin: 5% 0;
        position: relative;
        .slider-data{
            margin: 0 0.5%;
            height: 400px;
            @media screen and (min-width: 1441px) {
                height: 500px;
                margin: 0.5% 0.5%;
            }
            @media screen and (max-width: 600px) {
                height: 300px;
                margin: 0.5% 0.5%;
            }
            .slider-data-header{
                h5{
                    font-size: calc(8px + 0.8vw);
                    font-weight: 500;
                    color: $text-dark;
                    @media screen and (max-width: 600px) {
                        font-size: 15px;
                    }
                }
            }
            .slider-data-body{
                max-height: 300px;
                margin-top: 5%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .slider-data-footer{
                margin-top: 12.5%;
                @media screen and (max-width: 600px) {
                    margin-top: 5%;
                }
                a{
                    padding: 0.5em 1.5em;
                    font-size: calc(8px + 0.5vw);
                    text-transform: uppercase;
                    border: 2px solid $text-dark;
                    text-decoration: none;
                    color: $text-dark;
                    border-radius: 10px;
                    transition: 0.3s;
                    &:hover{
                        border: 2px solid $primary; 
                        color: $primary;
                    }
                } 
            }
        }
        .person-prev-arrow{
            cursor: pointer;
            text-align: center;
            position: absolute;
            left: -5%;
            top: 50%;
            transform: translateY(-50%);
        }
        .person-next-arrow{
            cursor: pointer;
            text-align: center;
            position: absolute;
            right: -5%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
