@import "../../global.scss";
@import "./who-we-are";
@import "./our-impact";
@import "./home-highlight";
@import "./people-say";
@import "./home-partnerships";
@import "../../components/footer";

.header-section {
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding: 1% 5%;
        .logo {
            img {
                height: 100%;
            }
        }
        .nav-links {
            display: flex;
            justify-content: space-around;
            width: 50%;
            li {
                list-style-type: none;
                a {
                    color: $text-dark;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: calc(10px + 0.5vw);
                    padding: 10px 0;
                    transition: 0.3s;
                    @media screen and (max-width:600px) {
                        font-size: 16px;
                    }
                    &:hover{
                        color: $primary;
                    }
                }
            }
            .page-active{
                color: $primary;
            }
        }
        .burger {
            display: none;
            cursor: pointer;
            .burger-line{
                width: 25px;
                height: 3px;
                background-color: $text-dark;
                margin: 5px;
            }
        }   
        .toggle{
            .line1{
                transform: rotate(-45deg) translate(-5px, 6px);
                transition: transform 0.2s ease-in;
            }
            .line2{
                opacity: 0;
            }
            .line3{
                transform: rotate(45deg) translate(-5px, -6px);
                transition: transform 0.2s ease-in;
            }
        }
    }
}

// header banner
.header-banner {
    height: 60vw;
    background-image: url("../../../assets/images/gcl-header/banner-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-banner-content{
        width: 60%;
        text-align: center;
        @media screen and (max-width:600px) {
            width: 80%;
        }
        h2{
            color: $white;
            font-size: calc(8px + 2vw);
            font-weight: 500;
            @media screen and (max-width:600px) {
                font-size: 16px;
            }
        }
    }
}


// person slider

.person-slider{
    height: 550px;
    padding: 0 5%;
    margin-top: 2.5%;
}

.person-slider-container{
    position: relative;
    background-image: url("../../../assets/yellow-path.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    .person-prev-arrow{
        cursor: pointer;
        text-align: center;
        position: absolute;
        left: 2.5%;
        top: 50%;
        transform: translateY(-50%);
    }
    .person-next-arrow{
        cursor: pointer;
        text-align: center;
        position: absolute;
        right: 2.5%;
        top: 50%;
        transform: translateY(-50%);
    }
    .person-data{
        height: 550px;
        @media screen and (max-width: 600px) {
            height: auto;
            padding: 0.5%;
        }
        .person-data-grid{
            height: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media screen and (max-width: 600px) {
                grid-template-columns: 1fr;
            }
            .person-image{
                position: relative;
                @media screen and (max-width: 600px) {
                    min-height: 250px;
                }
                img{
                    width: 95%;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .person-quote{
                padding: 5%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                @media screen and (max-width: 600px) {
                    padding: 5% 2.5%;
                }
                .quote{
                    font-size: calc(8px + 1vw);
                    color: $text-dark;
                }
                .designation{
                    margin-top: 2.5%;
                    p{
                        font-size: calc(8px + 0.8vw);
                        color: $secondary;
                    }
                }
            }
        }
    }
    @media screen and (min-width: 1441px) {
        height: 700px;
        .person-data{
            height: 700px;
        }
    }
    @media screen and (max-width: 1280px) {
        height: 500px;
        .person-data{
            height: 500px;
        }
    }
}

// animation

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


// media queries

@media screen and (max-width: 600px) {
    .header-section{
        z-index: 1000;
        nav{
            height: 80px;
            .nav-links{
                position: absolute;
                right: 0;
                height: 90vh;
                top: 80px;
                background-color: $text-dark;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                transform: translateY(calc(-100% - 80px));
                transition: transform 0.3s ease-in;
                z-index: 2;
                li{
                    opacity: 0;
                    padding: 5% 0;
                    a{
                        color: $text-light;
                    }
                }
            }   
            .logo {
                img {
                    height: 50%;
                }
            } 
            .nav-active{
                transform: translateY(0%);
            }                     
            .burger {
                display: block;
            }
        }
    }
}