@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.3rem;
}

p {
  color: #222222;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.container-1 {
  padding: 10rem;
}

@media (max-width: 40em) {
  .container-1 {
    padding: 5rem;
  }
}

.text-center {
  text-align: center;
}

.author-title {
  color: #fff;
  font-size: calc(8px + 1.5vw);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .author-title {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 40em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.3rem;
}

p {
  color: #222222;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.container-1 {
  padding: 10rem;
}

@media (max-width: 40em) {
  .container-1 {
    padding: 5rem;
  }
}

.text-center {
  text-align: center;
}

.author-title {
  color: #fff;
  font-size: calc(8px + 1.5vw);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .author-title {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

.who-we-are {
  padding: 5% 0 5% 0;
  background-image: url("../../../assets/who-we-are-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 600px) {
  .who-we-are {
    margin-top: 5%;
    padding: 5% 0 0 0;
  }
}

.who-we-are .who-we-are-header {
  margin: 0 auto;
  width: 50%;
  padding: 5%;
}

@media screen and (max-width: 600px) {
  .who-we-are .who-we-are-header {
    width: 100%;
  }
}

.who-we-are .who-we-are-header .header-content {
  text-align: center;
}

.who-we-are .who-we-are-header .header-content h2 {
  font-size: calc(10px + 2vw);
  font-weight: 600;
  color: #72725D;
}

@media screen and (max-width: 600px) {
  .who-we-are .who-we-are-header .header-content h2 {
    font-size: 16px;
  }
}

.who-we-are .who-we-are-header .header-content p {
  font-size: calc(10px + 0.6vw);
  color: #72725D;
  margin: 2.5% 0 5% 0;
}

@media screen and (max-width: 600px) {
  .who-we-are .who-we-are-header .header-content p {
    font-size: 14px;
  }
}

.who-we-are .who-we-are-header .header-content a {
  border: 2px solid #72725D;
  text-decoration: none;
  padding: 1.5% 2%;
  font-size: calc(10px + 0.6vw);
  color: #72725D;
  background-color: inherit;
  text-transform: uppercase;
  border-radius: 10px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  .who-we-are .who-we-are-header .header-content a {
    font-size: 14px;
  }
}

.who-we-are .who-we-are-header .header-content a:hover {
  background-color: #72725D;
  color: #fff;
}

.who-we-are .what-we-do-container .what-we-do-header {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 5% 0;
  position: relative;
}

.who-we-are .what-we-do-container .what-we-do-header h2 {
  font-size: calc(10px + 2vw);
  font-weight: 600;
  color: #72725D;
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-header h2 {
    font-size: 16px;
  }
}

.who-we-are .what-we-do-container .what-we-do-header img {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-header img {
    display: none;
  }
}

.who-we-are .what-we-do-container .what-we-do-body {
  padding: 5% 0;
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body {
    padding: 5% 0 0 0;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .inspire-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .inspire-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-left {
  background-color: #56504F;
  padding: 10%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-left {
    opacity: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-left p {
  color: #fff;
  font-size: calc(10px + 0.5vw);
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-left p {
    font-size: 15px;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-left ol {
  margin: 2.5% 0 0 2.5%;
}

.who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-left ol li {
  color: #fff;
  margin-top: 1%;
  font-size: calc(8px + 0.5vw);
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-left ol li {
    font-size: 15px;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-right {
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-right {
    opacity: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-right .inspire-image-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-right .inspire-image-number .leaf-img img {
  width: 100%;
  cursor: pointer;
}

.who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-right .inspire-image-number .leaf-title {
  margin-left: 5%;
}

.who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-right .inspire-image-number .leaf-title h2 {
  font-weight: 500;
  font-size: calc(50px + 2vw);
  color: #72725D;
  border-bottom: 3px solid #72725D;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.who-we-are .what-we-do-container .what-we-do-body .inspire-grid .inspire-right .inspire-image-number .leaf-title h3 {
  color: #72725D;
  font-size: calc(24px + 1.5vw);
  font-weight: 500;
}

.who-we-are .what-we-do-container .what-we-do-body .educate-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .educate-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-left {
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-left {
    opacity: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-left .educate-image-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-left .educate-image-number .leaf-img img {
  width: 100%;
  cursor: pointer;
}

.who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-left .educate-image-number .leaf-title {
  margin-left: 5%;
}

.who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-left .educate-image-number .leaf-title h2 {
  font-weight: 500;
  font-size: calc(50px + 2vw);
  color: #72725D;
  border-bottom: 3px solid #72725D;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-left .educate-image-number .leaf-title h3 {
  color: #72725D;
  font-size: calc(24px + 1.5vw);
  font-weight: 500;
}

.who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-right {
  background-color: #72725D;
  padding: 10%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-right {
    opacity: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-right p {
  color: #fff;
  font-size: calc(10px + 0.5vw);
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-right p {
    font-size: 15px;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-right ol {
  margin: 2.5% 0 0 2.5%;
}

.who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-right ol li {
  color: #fff;
  margin-top: 1%;
  font-size: calc(8px + 0.5vw);
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .educate-grid .educate-right ol li {
    font-size: 15px;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .create-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .create-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .create-grid .create-left {
  background-color: #A59E90;
  padding: 10%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .create-grid .create-left {
    opacity: 1;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .create-grid .create-left p {
  color: #fff;
  font-size: calc(10px + 0.5vw);
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .create-grid .create-left p {
    font-size: 15px;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .create-grid .create-left ol {
  margin: 2.5% 0 0 2.5%;
}

.who-we-are .what-we-do-container .what-we-do-body .create-grid .create-left ol li {
  color: #fff;
  margin-top: 1%;
  font-size: calc(8px + 0.5vw);
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .create-grid .create-left ol li {
    font-size: 15px;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .create-grid .create-right {
  padding: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media screen and (max-width: 600px) {
  .who-we-are .what-we-do-container .what-we-do-body .create-grid .create-right {
    opacity: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.who-we-are .what-we-do-container .what-we-do-body .create-grid .create-right .create-image-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.who-we-are .what-we-do-container .what-we-do-body .create-grid .create-right .create-image-number .leaf-img img {
  width: 100%;
  cursor: pointer;
}

.who-we-are .what-we-do-container .what-we-do-body .create-grid .create-right .create-image-number .leaf-title {
  margin-left: 5%;
}

.who-we-are .what-we-do-container .what-we-do-body .create-grid .create-right .create-image-number .leaf-title h2 {
  font-weight: 500;
  font-size: calc(50px + 2vw);
  color: #72725D;
  border-bottom: 3px solid #72725D;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.who-we-are .what-we-do-container .what-we-do-body .create-grid .create-right .create-image-number .leaf-title h3 {
  color: #72725D;
  font-size: calc(24px + 1.5vw);
  font-weight: 500;
}

/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.3rem;
}

p {
  color: #222222;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.container-1 {
  padding: 10rem;
}

@media (max-width: 40em) {
  .container-1 {
    padding: 5rem;
  }
}

.text-center {
  text-align: center;
}

.author-title {
  color: #fff;
  font-size: calc(8px + 1.5vw);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .author-title {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.3rem;
}

p {
  color: #222222;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.container-1 {
  padding: 10rem;
}

@media (max-width: 40em) {
  .container-1 {
    padding: 5rem;
  }
}

.text-center {
  text-align: center;
}

.author-title {
  color: #fff;
  font-size: calc(8px + 1.5vw);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .author-title {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 40em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

.btn {
  font-size: 2rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  cursor: pointer;
}

@media (max-width: 35.5em) {
  .btn {
    font-size: 1.6rem;
    padding: .8rem 1.6rem;
    border-radius: .5rem;
  }
}

.btn-primary {
  color: #F9CA48;
  background-color: #fff;
  border: 2px solid #F9CA48;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-primary:hover {
  background-color: #F9CA48;
  color: #F9F9F9;
}

.btn-secondary {
  color: black;
  background-color: transparent;
  border: 2px solid black;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-secondary:hover {
  color: #F9CA48;
  border: 2px solid #F9CA48;
}

.btn-secondary-sm {
  color: black;
  background-color: transparent;
  font-size: 1.3rem !important;
  font-weight: 600;
  padding: .8rem 2rem !important;
  border-radius: .7rem !important;
  border: 2px solid black;
  text-transform: uppercase;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-secondary-sm:hover {
  color: #F9CA48;
  border: 2px solid #F9CA48;
}

.btn-white {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-white:hover {
  color: black;
  background-color: #fff;
}

.our-impact-container {
  padding: 10% 0 5% 0;
}

.our-impact-container .impact-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.our-impact-container .impact-header img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.our-impact-container .impact-header h2 {
  font-weight: 500;
  color: #222222;
  font-size: calc(20px + 2vw);
}

.our-impact-container .impact-body {
  padding: 0 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 600px) {
  .our-impact-container .impact-body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.our-impact-container .impact-body .impact-data {
  text-align: center;
  padding: 10% 5%;
}

.our-impact-container .impact-body .impact-data h2 {
  font-weight: 600;
  font-size: calc(60px + 2vw);
}

.our-impact-container .impact-body .impact-data #impact1 {
  color: #56504F;
}

.our-impact-container .impact-body .impact-data #impact2 {
  color: #F9CA48;
}

.our-impact-container .impact-body .impact-data #impact3 {
  color: #A59E90;
}

.our-impact-container .impact-body .impact-data p {
  font-size: calc(6px + 1.1vw);
  color: #222222;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .our-impact-container .impact-body .impact-data p {
    font-size: 15px;
  }
}

.our-impact-container .impact-footer {
  padding: 5%;
  text-align: center;
}

.our-impact-container .impact-footer a {
  text-decoration: none;
  padding: 1% 2.5%;
  border: 2px solid #222222;
  color: #222222;
  font-size: calc(6px + 1.1vw);
  border-radius: 15px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.our-impact-container .impact-footer a:hover {
  color: #fff;
  background-color: #F9CA48;
  border: 2px solid #F9CA48;
}

@media screen and (max-width: 600px) {
  .our-impact-container .impact-footer a {
    font-size: 15px;
    border-radius: 5px;
  }
}

/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.3rem;
}

p {
  color: #222222;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.container-1 {
  padding: 10rem;
}

@media (max-width: 40em) {
  .container-1 {
    padding: 5rem;
  }
}

.text-center {
  text-align: center;
}

.author-title {
  color: #fff;
  font-size: calc(8px + 1.5vw);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .author-title {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

.home-highlight {
  padding: 0 10% 10% 10%;
}

.home-highlight .highlight-header {
  text-align: center;
}

.home-highlight .highlight-header h2 {
  color: #222222;
  font-weight: 500;
  font-size: calc(24px + 2vw);
}

.home-highlight .highlight-body {
  height: 550px;
  margin-top: 5%;
}

@media screen and (min-width: 1441px) {
  .home-highlight .highlight-body {
    height: 700px;
  }
}

@media screen and (max-width: 600px) {
  .home-highlight .highlight-body {
    height: 300px;
  }
}

.home-highlight .highlight-body .highlight-box {
  height: 550px;
  position: relative;
}

.home-highlight .highlight-body .highlight-box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
  top: 0;
  left: 0;
}

.home-highlight .highlight-body .highlight-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-highlight .highlight-body .highlight-box a {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10%;
  text-decoration: none;
  padding: 8px 24px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 5;
}

.home-highlight .highlight-body .highlight-box a:hover {
  color: #222222;
  background-color: #fff;
  border: 2px solid #fff;
}

@media screen and (max-width: 600px) {
  .home-highlight .highlight-body .highlight-box a {
    font-size: 12px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 1441px) {
  .home-highlight .highlight-body .highlight-box {
    height: 700px;
  }
}

@media screen and (max-width: 600px) {
  .home-highlight .highlight-body .highlight-box {
    height: 300px;
  }
}

.home-highlight .highlight-slider-container {
  position: relative;
}

.home-highlight .highlight-slider-container .person-prev-arrow {
  cursor: pointer;
  text-align: center;
  position: absolute;
  left: -5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.home-highlight .highlight-slider-container .person-next-arrow {
  cursor: pointer;
  text-align: center;
  position: absolute;
  right: -5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.3rem;
}

p {
  color: #222222;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.container-1 {
  padding: 10rem;
}

@media (max-width: 40em) {
  .container-1 {
    padding: 5rem;
  }
}

.text-center {
  text-align: center;
}

.author-title {
  color: #fff;
  font-size: calc(8px + 1.5vw);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .author-title {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

.people-say-container {
  padding: 5%;
  background-color: #72725D;
}

.people-say-container .people-say-header {
  text-align: center;
}

.people-say-container .people-say-header h2 {
  color: #F9F9F9;
  font-size: calc(24px + 1.5vw);
  font-weight: 600;
}

.people-say-container .testimony-slider-container {
  margin-top: 3%;
  height: 500px;
  position: relative;
}

@media screen and (max-width: 600px) {
  .people-say-container .testimony-slider-container {
    height: 300px;
  }
}

.people-say-container .testimony-slider-container .testimony-data {
  height: 500px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .people-say-container .testimony-slider-container .testimony-data {
    height: 300px;
  }
}

.people-say-container .testimony-slider-container .testimony-data .testimony-flex {
  width: 60%;
}

@media screen and (max-width: 600px) {
  .people-say-container .testimony-slider-container .testimony-data .testimony-flex {
    width: 90%;
  }
}

.people-say-container .testimony-slider-container .testimony-data .testimony-flex .quote {
  font-size: calc(8px + 1vw);
  color: #F9F9F9;
}

.people-say-container .testimony-slider-container .testimony-data .testimony-flex .quote-author {
  font-size: calc(8px + 1vw);
  color: #F9F9F9;
  font-style: italic;
  margin-top: 5%;
}

.people-say-container .testimony-slider-container .testimony-data .testimony-flex img {
  height: 100%;
  display: block;
  margin: 5% auto 0 auto;
}

.people-say-container .testimony-slider-container .person-prev-arrow {
  cursor: pointer;
  text-align: center;
  position: absolute;
  left: -1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.people-say-container .testimony-slider-container .person-next-arrow {
  cursor: pointer;
  text-align: center;
  position: absolute;
  right: -1%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.3rem;
}

p {
  color: #222222;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.container-1 {
  padding: 10rem;
}

@media (max-width: 40em) {
  .container-1 {
    padding: 5rem;
  }
}

.text-center {
  text-align: center;
}

.author-title {
  color: #fff;
  font-size: calc(8px + 1.5vw);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .author-title {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

.home-partnerships-section {
  padding: 5%;
}

.home-partnerships-section .partnership-header {
  text-align: center;
}

.home-partnerships-section .partnership-header h2 {
  color: #222222;
  font-weight: 600;
  font-size: calc(24px + 1.5vw);
}

.home-partnerships-section .partnership-header p {
  color: #222222;
  font-size: calc(8px + 0.8vw);
  width: 65%;
  margin: 2.5% auto 0 auto;
}

@media screen and (max-width: 600px) {
  .home-partnerships-section .partnership-header p {
    width: 90%;
    font-size: 14px;
  }
}

.home-partnerships-section .partnership-body {
  padding: 5% 5% 2.5% 5%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 4em 2em;
  justify-items: center;
}

@media screen and (max-width: 600px) {
  .home-partnerships-section .partnership-body {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.home-partnerships-section .partnership-body .brand-container {
  padding: 5%;
}

.home-partnerships-section .partnership-body .brand-container a {
  display: block;
  text-decoration: none;
}

.home-partnerships-section .partnership-body .brand-container a img {
  width: 75%;
  aspect-ratio: 16 / 9;
  -o-object-fit: contain;
     object-fit: contain;
}

/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.3rem;
}

p {
  color: #222222;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.container-1 {
  padding: 10rem;
}

@media (max-width: 40em) {
  .container-1 {
    padding: 5rem;
  }
}

.text-center {
  text-align: center;
}

.author-title {
  color: #fff;
  font-size: calc(8px + 1.5vw);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .author-title {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 40em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

.footer-container {
  height: 400px;
  background-image: url("../../../assets/footer-bg.png");
  background-repeat: no-repeat;
  background-image: cover;
  padding: 10% 5% 5% 5%;
}

@media screen and (min-width: 1441px) {
  .footer-container {
    height: 500px;
    background-image: url("../../../assets/footer-bg-hd.png");
  }
}

@media screen and (max-width: 1280px) {
  .footer-container {
    height: 400px;
    background-image: url("../../../assets/footer-bg-laptop.png");
  }
}

@media screen and (max-width: 900px) {
  .footer-container {
    height: 500px;
    background-image: none;
    background-color: #72725D;
    border-top: 10px solid #F9CA48;
  }
}

@media screen and (max-width: 600px) {
  .footer-container {
    height: 600px;
    background-image: none;
    background-color: #72725D;
    border-top: 10px solid #F9CA48;
  }
}

.footer-container .footer-body {
  height: 100%;
  display: -ms-grid;
  display: grid;
  gap: 2.5% 5%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 900px) {
  .footer-container .footer-body {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 5% 2.5%;
  }
}

@media screen and (max-width: 600px) {
  .footer-container .footer-body {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 5% 2.5%;
  }
}

.footer-container .footer-body .grid-common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 600px) {
  .footer-container .footer-body .grid-common {
    height: 15vh;
    text-align: center;
  }
}

.footer-container .footer-body .grid-common h5 {
  color: #F9F9F9;
  font-size: calc(10px + 1vw);
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .footer-container .footer-body .grid-common h5 {
    font-size: 16px;
  }
}

.footer-container .footer-body .grid-common .link-left {
  margin-left: 5%;
}

.footer-container .footer-body .footer-body-left p {
  color: #F9F9F9;
  font-size: calc(8px + 0.5vw);
  padding: 1% 0;
  width: 90%;
}

@media screen and (max-width: 600px) {
  .footer-container .footer-body .footer-body-left p {
    font-size: 14px;
    width: 100%;
  }
}

.footer-container .footer-body .footer-body-left a {
  text-decoration: none;
  color: #F9F9F9;
  font-size: calc(8px + 0.5vw);
  margin-top: 5%;
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .footer-container .footer-body .footer-body-left a {
    font-size: 14px;
  }
}

.footer-container .footer-body .footer-body-left a:hover {
  text-decoration: underline;
}

.footer-container .footer-body .footer-body-center a {
  text-decoration: none;
}

.footer-container .footer-body .footer-body-center a img {
  height: calc(40px + 1.5vw);
}

.footer-container .footer-body .footer-body-right .media-icons {
  font-size: calc(8px + 0.8vw);
}

.footer-container .footer-body .footer-body-right .media-icons a {
  text-decoration: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 40px;
  height: 40px;
  background-color: #F9F9F9;
  color: #72725D;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 0.5%;
}

@media screen and (max-width: 600px) {
  .footer-container .footer-body .footer-body-right .media-icons a {
    width: 25px;
    height: 25px;
    font-size: 14px;
    margin-right: 1%;
  }
}

.footer-container .footer-body .footer-body-right button {
  padding: 2.5%;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  border: 2px solid #F9F9F9;
  border-radius: 10px;
  background-color: #F9F9F9;
  color: #72725D;
  font-weight: 600;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.footer-container .footer-body .footer-body-right button:hover {
  color: #F9F9F9;
  background-color: inherit;
}

/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.3rem;
}

p {
  color: #222222;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.container-1 {
  padding: 10rem;
}

@media (max-width: 40em) {
  .container-1 {
    padding: 5rem;
  }
}

.text-center {
  text-align: center;
}

.author-title {
  color: #fff;
  font-size: calc(8px + 1.5vw);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .author-title {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (max-width: 40em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 60em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.7rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

h6 {
  font-size: 1.3rem;
}

p {
  color: #222222;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.container-1 {
  padding: 10rem;
}

@media (max-width: 40em) {
  .container-1 {
    padding: 5rem;
  }
}

.text-center {
  text-align: center;
}

.author-title {
  color: #fff;
  font-size: calc(8px + 1.5vw);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .author-title {
    font-size: 14px;
  }
}

.header-section nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: .7rem 5rem;
}

.header-section nav .logo img {
  height: 100%;
}

.header-section nav .nav-links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2rem;
}

.header-section nav .nav-links li {
  list-style-type: none;
}

.header-section nav .nav-links li a {
  color: #222222;
  text-decoration: none;
  font-weight: 600;
  font-size: calc(10px + 0.5vw);
  padding: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  white-space: nowrap;
}

.header-section nav .nav-links li a:hover {
  color: #F9CA48;
}

.header-section nav .nav-links .page-active {
  color: #F9CA48;
}

.header-section nav .burger {
  display: none;
  cursor: pointer;
}

.header-section nav .burger .burger-line {
  width: 25px;
  height: 3px;
  background-color: #222222;
  margin: 5px;
}

.header-section nav .toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.header-section nav .toggle .line2 {
  opacity: 0;
}

.header-section nav .toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@media (max-width: 40em) {
  .header-section {
    z-index: 1000;
  }
  .header-section nav {
    height: 8rem;
  }
  .header-section nav .nav-links {
    position: absolute;
    right: 0;
    height: 90vh;
    top: 80px;
    background-color: #222222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateY(calc(-100% - 80px));
            transform: translateY(calc(-100% - 80px));
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    z-index: 2;
  }
  .header-section nav .nav-links li {
    opacity: 0;
    padding: 5% 0;
  }
  .header-section nav .nav-links li a {
    color: #F9F9F9;
  }
  .header-section nav .logo img {
    height: 40%;
  }
  .header-section nav .nav-active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .header-section nav .burger {
    display: block;
  }
}

@media (max-width: 60em) {
  .header-section {
    z-index: 1000;
  }
  .header-section nav {
    height: 80px;
  }
  .header-section nav .nav-links {
    position: absolute;
    right: 0;
    height: 90vh;
    top: 80px;
    background-color: #222222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateY(calc(-100% - 80px));
            transform: translateY(calc(-100% - 80px));
    -webkit-transition: -webkit-transform 0.3s ease-in;
    transition: -webkit-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
    z-index: 2;
  }
  .header-section nav .nav-links li {
    opacity: 0;
    padding: 5% 0;
  }
  .header-section nav .nav-links li a {
    color: #F9F9F9;
  }
  .header-section nav .logo img {
    height: 50%;
  }
  .header-section nav .nav-active {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  .header-section nav .burger {
    display: block;
  }
}

.header-banner {
  height: 60vw;
  background-image: url("../../../assets/images/gcl-header/banner-home.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-banner .header-banner-content {
  width: 60%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .header-banner .header-banner-content {
    width: 80%;
  }
}

.header-banner .header-banner-content h2 {
  color: #fff;
  font-size: calc(8px + 2vw);
  font-weight: 500;
}

@media screen and (max-width: 600px) {
  .header-banner .header-banner-content h2 {
    font-size: 16px;
  }
}

.header-banner .header-banner-content p {
  font-size: calc(8px + 1vw);
  margin-top: 2.5%;
}

.person-slider {
  height: 550px;
  padding: 0 5%;
  margin-top: 2.5%;
}

.person-slider-container {
  position: relative;
  background-image: url("../../../assets/yellow-path.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.person-slider-container .person-prev-arrow {
  cursor: pointer;
  text-align: center;
  position: absolute;
  left: 2.5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.person-slider-container .person-next-arrow {
  cursor: pointer;
  text-align: center;
  position: absolute;
  right: 2.5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.person-slider-container .person-data {
  height: 550px;
}

@media screen and (max-width: 600px) {
  .person-slider-container .person-data {
    height: auto;
    padding: 0.5%;
  }
}

.person-slider-container .person-data .person-data-grid {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 600px) {
  .person-slider-container .person-data .person-data-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.person-slider-container .person-data .person-data-grid .person-image {
  position: relative;
}

@media screen and (max-width: 600px) {
  .person-slider-container .person-data .person-data-grid .person-image {
    min-height: 250px;
  }
}

.person-slider-container .person-data .person-data-grid .person-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.person-slider-container .person-data .person-data-grid .person-quote {
  padding: 5%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 600px) {
  .person-slider-container .person-data .person-data-grid .person-quote {
    padding: 5% 2.5%;
  }
}

.person-slider-container .person-data .person-data-grid .person-quote .quote {
  font-size: calc(8px + 1vw);
  color: #222222;
}

.person-slider-container .person-data .person-data-grid .person-quote .designation {
  margin-top: 2.5%;
}

.person-slider-container .person-data .person-data-grid .person-quote .designation p {
  font-size: calc(8px + 0.8vw);
  color: #72725D;
}

@media screen and (min-width: 1441px) {
  .person-slider-container {
    height: 700px;
  }
  .person-slider-container .person-data {
    height: 700px;
  }
}

@media screen and (max-width: 1280px) {
  .person-slider-container {
    height: 500px;
  }
  .person-slider-container .person-data {
    height: 500px;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=home.css.map */