@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*
0 - 430px;       small-phone
430 - 568px:     medium-phone
568 - 600px:     phone
600 - 1000px:    tablet portrait
900 - 1300px:    tablet landscape
[1300 - 1800px] is where normal style apply
1800px + :       Big desktop
*/
/*
$breakpoint arguments choice:
- s-phone
- M-phone
- phone
- tab-port
- tab-land
- big-desktop
*/
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: calc(24px + 2vmin);
}

h2 {
  font-size: calc(20px + 2vmin);
}

h3 {
  font-size: calc(18px + 2vmin);
}

h4 {
  font-size: calc(16px + 1vmin);
}

h5 {
  font-size: calc(14px + 1vmin);
}

h6 {
  font-size: calc(10px + 1vmin);
}

p {
  font-size: 1.1vw;
  color: #222222;
}

a {
  font-size: calc(clamp(0.9rem, 1vw + 1rem, 2.2rem));
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

.header-section nav {
  padding: 1% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  background-color: #fff;
}

@media screen and (max-width: 601px) {
  .header-section nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-section nav .logo {
  width: 100%;
}

.header-section nav .logo img {
  height: 100%;
}

.header-section nav .main-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: menu 0.3s linear;
          animation: menu 0.3s linear;
}

@media screen and (max-width: 601px) {
  .header-section nav .main-menu {
    display: none;
  }
}

.header-section nav .main-menu a {
  color: #222222;
  font-weight: 600;
  margin: 0 1%;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section nav .main-menu a:hover {
  color: #F9CA48;
}

@media screen and (max-width: 601px) {
  .header-section nav .main-menu a {
    margin: 5% 0;
    display: block;
  }
}

.header-section nav .menu-btn {
  position: absolute;
  right: 5%;
  top: 5%;
}

@-webkit-keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header-banner {
  height: 60vw;
  background-image: url("../../../assets/gcl-header/banner-home.png");
  background-repeat: no-repeat;
  background-size: cover;
}
/*# sourceMappingURL=home.css.map */