@import '../../base/base-style.scss';


.header-section {
    position: relative;
    nav {
        padding: 1rem 3rem;
        background-color: white;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            height: 6rem;
            img {
                height: 100%;
            }
        }
        .nav-links {
            display: flex;
            gap: 4rem;

            li {
                list-style-type: none;
                a {
                    color: $text-dark;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 1.6rem;
                    padding: 10px 0;
                    transition: 0.3s;
                    &:hover{
                        color: $primary;
                    }
                }
            }
            .page-active{
                color: $primary;
            }
        }
        .burger {
            display: none;
            cursor: pointer;
            .burger-line{
                width: 25px;
                height: 3px;
                background-color: $text-dark;
                margin: 5px;
            }
        }   
        .toggle{
            .line1{
                transform: rotate(-45deg) translate(-5px, 6px);
                transition: transform 0.2s ease-in;
            }
            .line2{
                opacity: 0;
            }
            .line3{
                transform: rotate(45deg) translate(-5px, -6px);
                transition: transform 0.2s ease-in;
            }
        }
    }
}
